.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.main .back-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
}

.main .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.main .profile-pic {
  border-radius: 50%;
  margin-right: 20px;
}

.main .user-biography {
  color: #555;
}

.main .media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.main .pagination-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 200px;
  justify-content: center;
}

.main .pagination-container button {
  margin: 0 5px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media(max-width: 750px) {

  .header .profile-pic{
    margin-left: 50px;
  }

  .main .back-btn  {
    margin-bottom: 40px;
  }
}